.#{$app-prefix} {
  &traits-label {
    border-bottom: 1px solid #f1f1f1ea;
    box-sizing: border-box;
    font-weight: semi-bold;
    margin-bottom: 5px;
    padding: 10px;
    text-align: left;
  }

  &label {
    &-wrp {
      width: 30%;
      min-width: 30%;
      font-weight: semi-bold;
    }
    font-weight: semi-bold;
  }

  &field {
    &-wrp {
      flex-grow: 1;
    }
  }
}

.#{$trt-prefix}header {
  font-weight: 700;
  font-size: 0.8em;
  padding: 10px;
}

.#{$trt-prefix}trait {
  display: flex;
  justify-content: flex-start;
  padding: 5px 10px;
  align-items: center;
  text-align: left;
  font-weight: semi-bold;

  &s {
    font-size: $fontSizeS;
  }

  .#{$app-prefix}label {
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: semi-bold;
  }
}
